/* Write your CSS here!*/
body {
    margin: 8px;
    padding: 1% 5%;
    display: block;
    max-width: max-content;
    color: white;
    background-color: rgb(65, 38, 25);
    background-size: cover;
    background-image: url(images/holdingTorch.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-blend-mode: overlay;
}
img {
    opacity: 70%;
}
figure.imgRightArticleLeft {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}
article.left-oriented-articles {
    margin: 5px;
    padding: 5px;
    height: 90%;
    width: 60%
}
figure.imgRightArticleLeft img {
    margin: 5px;
    padding: 5px;
    width: 25%
}
figure.imgLeftArticleRight {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}
article.right-oriented-articles {
    margin: 5px;
    padding: 5px;
    width: 60%;
    right: 0px
}
figure.imgLeftArticleRight img {
    margin: 5px;
    padding: 5px;
    width: 25%;
}
nav {
    font-size: medium;
}
h1 {color: red;
    text-align: center;
    font-size: 150px;
}
h2.right-oriented-headers {
    padding: 20px;
    text-align: center;
}
nav {
    opacity: 85%;
    height: auto;
}
